html {
    width: 800px;
}

body {
    font-size: 11px;
    font-family: monospace;
    background-color: #353535;
    color: #efefef;
}

div {
    margin: 10px 5px 10px 5px;
}

div #setter {
    margin: 0px;
}

div #alert-area {
    color: #ef3535;
}

label.switch {
    margin: 10px 5px 0px 5px;
}

input#regex-input {
    width: 100%;
    font-family: monospace;
    font-size: 11px;
    color: #353535;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display:none;
}

div.slider {
    margin: 0px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #40b323;
}

input:focus + .slider {
    box-shadow: 0 0 1px #40b323;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
